body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #00ffea;
}

.hov:hover,
a:hover {
  color: #00afa1;
  text-decoration: none;
}

.hov:hover {
  fill: #00afa1;
}

.card-link:hover {
  text-decoration: none;
}

.title {
  letter-spacing: 0.5em;
  color: black;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #00ffea;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.nav-btn {
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 600;
}

.nav-btn:hover {
  color: #005a53;
}

.btn {
  border-radius: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.btn-outline-primary {
  color: #00ffea;
  border-color: #00ffea;
}

.btn-outline-primary:hover {
  color: #202020;
  background-color: #00ffea;
  border-color: #00ffea;
}

.btn-primary {
  color: #202020;
  background-color: #00ffea;
  border-color: #00ffea;
}

.btn-primary:hover {
  color: #202020;
  background-color: #00afa1;
  border-color: #00afa1;
}

.card-title {
  color: #00ffea;
  letter-spacing: 0.25em;
}

.grey-text {
  color: #a1a1a1;
}

#landing_page {
  height: 100vh;
  background: #00ffea;
}

.lets-build {
  font-family: "Open-sans", sans-serif;
  font-size: 12vw;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #00ffea;
  background: url(./images/pulse.gif) no-repeat;
  background-size: 42vw;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  width: 80vw;
  text-align: center;
  margin: 0 auto;
  float: none;
  line-height: 1;
  padding-top: 50px;
}

.lets-build-div {
  padding-top: 10vh;
}

.name-div {
  padding-top: 10vh;
}

.page-title {
  color: #00ffea;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-top: 4em;
  padding-bottom: 2em;
  font-size: 18pt;
}

/* Mouse Start */
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: black;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 1em;
  text-decoration: none;
  overflow: hidden;
  margin-left: calc(50vw - 23px);
}
.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 46px;
  height: 73px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: black;
  border-radius: 50%;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}
.mouse-scroll .mouse-message {
  float: left;
  margin: -200px 0 0 7px;
  padding: 0;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
}
.mouse-scroll:hover .mouse-message {
  margin-top: 0;
}
/* Mouse End */

/* Social Media Icons Start */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.ir {
  display: block;
  overflow: visible;
  padding: 0 0 50%;
  position: relative;
  height: 0;
  width: 100%;
}

.ir > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 48px;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a,
.soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}

.icon-8 {
  color: #00ffea;
  fill: #00ffea;
}

.icon-13 {
  color: #00ffea;
  fill: #00ffea;
}

.icon-15 {
  color: #00ffea;
  fill: #00ffea;
}

.icon-17 {
  color: #00ffea;
  fill: #00ffea;
}

.icon-28 {
  color: #00ffea;
  fill: #00ffea;
}
/* Social Media Icons End */

.gallery {
  position: relative;
  display: inline-block;
  background: black;
  width: 50vw;
  height: auto;
}

.project-card {
  margin: 5vw 10vw 10vw 10vw;
}

.project-info {
  position: absolute;
  display: inline-block;
  margin-left: 5vw;
  width: 25vw;
}

#connect {
  margin: 10vw 10vw 10vw 10vw;
}

.centered {
  text-align: center;
}

.blue-text {
  color: #00ffea;
}

.num-res {
  text-align: center;
  position: relative;
}

.res-num-info {
  display: inline;
  margin: 2em;
}

/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
  src:
    url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix")
      format("embedded-opentype"),
    url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0")
      format("truetype"),
    url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0")
      format("woff"),
    url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  display: inline-block;
  font-family: "Ionicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content.fullscreen .image-gallery-slide {
  background: #000;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 113px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left,
  .image-gallery-slide-wrapper.right {
    width: calc(100% - 84px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
}
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  color: #00ffea;
  line-height: 0.7;
  transition: color 0.2s ease-out;
}
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before,
.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: #00ffea;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before,
  .image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: #00ffea;
  }
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
}
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before {
  font-size: 2.7em;
  padding: 15px 20px;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before {
    font-size: 2.4em;
  }
}
@media (max-width: 480px) {
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before {
    font-size: 2em;
  }
}
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before {
  color: #00ffea;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before {
    transform: none;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}
.image-gallery-fullscreen-button::before {
  content: "";
}
.image-gallery-fullscreen-button.active::before {
  content: "";
}
.image-gallery-fullscreen-button.active:hover::before {
  transform: scale(0.9);
}

.image-gallery-play-button {
  left: 0;
}
.image-gallery-play-button::before {
  content: "";
}
.image-gallery-play-button.active::before {
  content: "";
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: #00ffea;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%);
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}
@media (max-width: 768px) {
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    font-size: 3.4em;
    padding: 20px 15px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    font-size: 2.4em;
    padding: 0 15px;
  }
}

.image-gallery-left-nav {
  left: 0;
}
.image-gallery-left-nav::before {
  content: "";
}

.image-gallery-right-nav {
  right: 0;
}
.image-gallery-right-nav::before {
  content: "";
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.image-gallery-slide {
  background: #00ffea;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.center {
  position: relative;
}
.image-gallery-slide img {
  width: 100%;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #00ffea;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  appearance: none;
  background-color: transparent;
  border: 1px solid #00ffea;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #00ffea;
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 108px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left,
  .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.left
  .image-gallery-thumbnails
  .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right
  .image-gallery-thumbnails
  .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.left
  .image-gallery-thumbnails
  .image-gallery-thumbnail
  + .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right
  .image-gallery-thumbnails
  .image-gallery-thumbnail
  + .image-gallery-thumbnail {
  margin-left: 0;
}
.image-gallery-thumbnails-wrapper.left {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 3px;
  }
}
.image-gallery-thumbnails-wrapper.right {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  transition: transform 0.45s ease-out;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 75px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  position: relative;
}
.image-gallery-thumbnail img {
  vertical-align: middle;
  width: 100%;
}
.image-gallery-thumbnail.active {
  border: 4px solid #00ffea;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active {
    border: 3px solid #00ffea;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #00ffea;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: black;
  }

  .nav-bar {
    top: calc(100vh - 50px);
    padding-top: 10px;
    padding-bottom: 500px;
  }

  .nav-btn {
    display: inline;
    letter-spacing: 0px;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 1em;
    font-weight: 600;
    font-size: 12pt;
  }

  .lets-build {
    font-size: 20vw;
    background-size: 70vw;
    padding-top: 1em;
  }

  #sean-hetzel {
    font-size: 18pt;
    margin-bottom: 1em;
  }
  #software-dev {
    font-size: 12pt;
  }

  /* .mouse-scroll {
    margin-left: 20px;
  } */

  .page-title {
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .project-card {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5em;
  }

  .gallery {
    margin-left: -5vw;
    width: 100vw;
  }

  .project-info {
    position: relative;
    display: block;
    margin-left: 0vw;
    margin-top: 1em;
    width: 90vw;
  }

  #my-summary {
    margin-right: 5vw;
  }

  #connect {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 8em;
  }

  .soc a {
    position: relative;
    height: 40px;
    height: 2rem;
    width: 80px;
    width: 5rem;
  }

  .soc {
    padding: 0px;
    margin-right: 0px;
  }

  .res-num-info {
    display: block;
    margin: 1em;
    padding: 0em;
    padding-top: 1em;
    font-size: 14pt;
  }

  html,
  body {
    overflow-x: hidden;
  }
}

button:focus {
  outline: 0;
}
input:focus {
  outline: 0;
}
a:focus {
  outline: 0;
}

.wip-container {
  display: flex; /* makes text and icon sit in a row */
  align-items: top; /* vertically center the text and icon */
  gap: 0.5rem; /* optional spacing between text and icon */
}
